body {
    background-color: #758eb7;
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: white;
    padding: 30px;
}

.title {
    font-size: 50px;
}

#score {
    font-size: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 10px;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

img {
    max-width: 50%;
    max-height: 100%;
}

.card-image {
    cursor: pointer;
    position: relative;
}

.card-image:hover {
    transform: scale(1.05);
}

.card-image:active {
    transform: scale(0.95);
}

.card-text {
    font-weight: bold;
    font-size: 20px; 
}

.results {
    font-size: 60px;
}

#playAgain {
    background-color: #4d5d7a;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
    visibility:hidden;
    font-family: 'Poppins', sans-serif;
}

#playAgain:hover {
    transform: scale(1.05);
}

#playAgain:active {
    transform: scale(0.95);
}